doctype
head
    block head
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
    // SCRIPTS
    script(type="text/javascript", src="/linker/js/1.jquery-1.11.0.min.js")
    script(type="text/javascript", src="/linker/js/2.underscore-min.js")
    script(type="text/javascript", src="/linker/js/3.backbone-min.js")
    script(type="text/javascript", src="/linker/js/4.bootstrap.min.js")
    script(type="text/javascript", src="/linker/js/5.async.js")
    // SCRIPTS END
    // STYLES
    link(rel="stylesheet", href="/linker/styles/css/1.bootstrap.min.css")
    link(rel="stylesheet", href="/linker/styles/css/2.bootstrap-theme.min.css")
    // STYLES END
    link(rel="stylesheet", href="/styles/style.css")
    link(rel="shortcut icon", href="/images/vinyl.ico")
    link(href='http://fonts.googleapis.com/css?family=Sofadi+One',rel='stylesheet', type='text/css')
body
    .row#site-title.sky-background
            h2.center-x Album Digger
    .row#content
        .col-lg-8.col-lg-offset-2
            block body
    .row#footer.sky-background
        p <a href="http://twitter.com/igncp" target="_blank">About</a> · 2014