#charts
  width 100%

  text
    text-shadow 1px 1px 1px #ddd

#chart-years
  .axis line
    stroke #777

  .axis path
    fill none
    stroke #ccc
    stroke-width 1px

  .line
    fill none
    stroke black

#chart-labels
  .axis line
    stroke #777

  .axis path
    fill none
    stroke #ccc
    stroke-width 1px

  .dot
    cursor pointer

  .line
    fill none
    stroke #ccc