.back
  margin 30px 0px

.list-five
  margin-bottom 40px

.singleRelease, #releases
  display: none
  margin-top 20px
  padding: 10px

.singleRelease
  .notes
    margin-top 20px

  .title
    font-size 1.5em
    font-weight bold
    margin 30px 0px 30px 0px

.toggle-charts
  position absolute
  right 60px

#releases
  form
    margin-bottom 20px

    input[type="radio"]
      margin-left 20px
    input[type="radio"]:first-child
      margin-left 0px

    ul
      display inline-block
      margin 0px auto 30px auto
      text-align left
  
  .release-row
    margin 10px 0px

    a { text-decoration: none; }

  .releases-results
    margin-bottom 30px