.back
  margin 30px 0px

.list-five
  margin-bottom 40px

.singleRelease, #releases
  display: none
  margin-top 20px
  padding: 10px

.singleRelease
  table
    margin: 0px auto

  .notes
    font-weight bold
    margin-top 40px

  .source-link
    margin: 20px 0px 50px 0px

  .table
    width 80%

    td
      vertical-align middle

  .title
    font-size 1.5em
    font-weight bold
    margin 10px 0px 30px 0px
    text-shadow 1px 1px 1px #ddd

  .track
    .btn
      font-size: .8em;
  
  .tracklist
    font-weight bold

.toggle-charts
  position absolute
  right 60px

#releases
  form
    margin-bottom 20px

    input[type="radio"]
      margin-left 20px
    input[type="radio"]:first-child
      margin-left 0px

    ul
      display inline-block
      margin 0px auto 30px auto
      text-align left
  
  .release-row
    margin 10px 0px

    a { text-decoration: none; }

  .releases-results
    margin-bottom 30px

  .releases-search-texts
    margin 0px 0px 30px
    
    p:first-child
      font-weight bold
    .search-text
      font-style italic
      color: #426D9C;
      text-shadow: 1px 1px 1px #ddd;