footer-height = 190px;

footer
  .year
    position relative  
  
  iframe
    position absolute
    left 200px

    distance = 30px
    &.first {top: 0px;}
    &.second {top: distance;}
    &.third {top: distance * 2;}

html, body { height: 100%; }

#container {
  min-height: 100%;
  margin-bottom: footer-height * (-1); 
}
#container:after {
  content: "";
  display: block;
}
footer, #container:after { height: footer-height; }