@import 'compass';

::selection {
    color:#CCC;
}
::-moz-selection {
    color:#CCC;
}

body {
    text-align: center;
    input[type="text"] {
        padding: 3px;
        @include border-radius(5px);
    }
    ul {
        list-style-type: none;
        -webkit-padding-start: 0px;
    }
    // .alert { display: none;}
    .row { margin: auto 0px; }
    .sky-background {
        background-image: url('../images/sky.jpg');
        font-family: 'Sofadi One', cursive;
        height: 150px;
        h2,p {
            color: white;
            font-size: 80px;
            margin-top: 0px;
            padding-top: 40px;

            a{
                color: white;
                text-decoration: underline;
            }
        }
    }
    
    #content { padding: 30px; }
    #footer {
        background-position: center bottom;
        border-top: solid 2px #ccc;
    }
    #releases, .singleRelease {
        border: 1px solid #CCC;
        display: none;
        padding: 10px;
        @include border-radius(12px);
    }
    #site-title {
        background-position: center center;
        border-bottom: solid 2px #ccc;
    }
    #submitter{ margin-bottom: 10px; }
}
