@import 'nib'

border-footer-header = solid 5px #2E749C

a
  text-decoration none

a:hover, a:focus
  text-decoration none

body
  text-shadow: 1px 1px .5px #dedede

::selection {
  color:#CCC
}
::-moz-selection {
  color:#CCC
}

body
  text-align: center

footer
  padding-top 30px
  background-position: center bottom
  border-top: border-footer-header

header
  padding-top 50px
  height 190px
  background-position: center center
  border-bottom: border-footer-header

  
input[type="text"]
  border 1px solid #ccc
  border-radius(5px)
  padding 3px
  padding-left 6px

input[type="text"]:focus
  border-radius(4px)
  box-shadow(0px 0px 3pt 2pt #658EA5)
  outline none

label
  font-weight normal

ul
  list-style-type: none
  -webkit-padding-start: 0px
  
.row { margin: auto 0px }

.shadow-border
  border: 1px solid #CCC
  border-radius(12px)
  box-shadow(0 0 4px 3px #eee)

.sky-background
  background-image: url('../images/sky.jpg')
  background-size: 100%
  box-shadow(0px 0px 8px .5px #98ADD8)
  font-family: 'Sofadi One', cursive
  text-shadow: 0px 0px 8px #444
  
  h2, p 
    color: white
    font-size 80px
    margin-top: 0px
    a
      color: white

#content
  padding: 30px

#search-form
  margin-top 20px
  
#search-form-inputs
  display inline-block
  padding 20px

  p
    max-width 400px

  table
    margin 0px auto
  tr
    padding 10px 20px
  tr:first-child td
    padding-top 30px
  tr:first-child td:first-child
    text-align right
  td
    padding 15px 5px
    vertical-align middle
  td:first-child
    padding-left 30px
  td:last-child
    padding-right 30px
    

#submitter
  margin-bottom: 10px

#validation-error-message
  margin-top 20px
  opacity 0
  

@import '_charts'
@import '_releases'
@import '_responsive'
@import '_sticky_footer'
