@import 'nib'

::selection {
  color:#CCC
}
::-moz-selection {
  color:#CCC
}

body
  text-align: center

footer
  padding-top 30px
  background-position: center bottom
  border-top: solid 2px #ccc

header
  padding-top 50px
  height 190px
  background-position: center center
  border-bottom: solid 2px #ccc

  
input[type="text"]
  border 1px solid #ccc
  border-radius(5px)
  margin-bottom 20px
  padding 3px
  padding-left 6px

ul
  list-style-type: none
  -webkit-padding-start: 0px
  
.row { margin: auto 0px }

.sky-background
  background-image: url('../images/sky.jpg')
  background-size: 100%
  font-family: 'Sofadi One', cursive
  text-shadow: 0px 0px 8px #444
  
  h2, p 
    color: white
    font-size 80px
    margin-top: 0px
    a
      color: white
      text-decoration: underline

#content
  padding: 30px

#search-form
  margin-bottom 160px
  margin-top 20px

#submitter
  margin-bottom: 10px

#validation-error-message
  opacity 0
  

@import '_charts'
@import '_releases'
@import '_responsive'
@import '_sticky_footer'